.spotSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: 1.1em;
}

.underlinedText {
  text-decoration: underline;
}

.selectTimeButton {
  margin-top: 3em;
}